<form class="env-form" action="<%= getUrl('/signup') %>" method="post">
    <div class="env-form-element">
       <div class="env-form-element__control">
          <input autocomplete="off" type="text" class="env-form-input" placeholder="Name" name="name">
       </div>
    </div>
    <div class="env-form-element">
       <div class="env-form-element__control">
          <input autocomplete="off" type="email" placeholder="Email" class="env-form-input" name="email">
       </div>
    </div>
    <div class="env-form-element">
       <div class="env-form-element__control">
          <input autocomplete="off" type="number" placeholder="Age" class="env-form-input" name="age">
       </div>
    </div>
    <div class="env-form-element">
       <input class="env-button env-button--primary" type="submit" value="Sign up" />
    </div>
</form>