<h1 class="env-text"><%= i18n('title') %></h1>
<form class="env-form" action="<%= getUrl('/add') %>" method="post">
    <div class="env-form">
        <div class="env-form-element">
            <a href="<%= getUrl('/') %>" class="env-button env-button--secondary"><%= i18n('showAll') %></a>
        </div>
    </div>
</form>
<hr>
<h2 class="env-text"><a href="<%= ad.link %>"><%= ad.title %></a></h2>
<p class="env-text"><%= i18n('price') %>: <%= ad.price %> SEK</p>
<p><a href="<%= ad.link %>"><%= i18n('adLink') %></a></p>
<p class="env-text">
    <b><%= ad.contact %></b>
    <a href="email:<%= ad.contactEmail %>"><%= i18n('contactEmail') %></a>
    <a href="tel:<%= ad.contactNumber %>"><%= i18n('contactNumber') %></a>
</p>
<img
    src="<%= ad.imageLink %>"
    alt="Image"
/>
<p class="env-text"><%= ad.content %></p>