<h1 class="env-text"><%= i18n('title') %></h1>
<p class="env-text"><%= i18n('messageMain') %></p>
<div class="env-w--100 env-d--flex env-flex-wrap--wrap">
    <a href="<%= getUrl('/add') %>" class="env-button env-button--primary"><%= i18n('add') %></a>
    <form action="<%= getUrl('/rnd') %>" method="post">
        <button type="submit" name="id" class="env-button env-button"><%= i18n('rnd') %></button>
    </form>
    <form action="<%= getUrl('/removeAll') %>" method="post">
        <button type="submit" name="id" class="env-button env-button--danger"><%= i18n('removeAll') %></button>
    </form>
    <a href="<%= getUrl('/') %>" class="env-button env-button"><%= i18n('reload') %></a>
</div>
<table class="env-table env-table--zebra env-table--borders-bottom" style="width: 100%;">
    <thead>
        <tr>
            <th>
                <p class="env-text"><%= i18n('adTitle') %></p>
            </th>
            <th>
                <p class="env-text"><%= i18n('control') %></p>
            </th>
        </tr>
    </thead>
    <tbody>
        <%= renderer.renderComponent('Ads') %>
    </tbody>
</table>
