<h1><%= i18n('title') %></h1>
<p><%= i18n('messageReport') %>, <%= ad.title %>, <% ad.contact %></p>
<form class="env-form" action="<%= getUrl('/report', { id: ad.dsid }) %>" method="post">
    <div class="env-form">
        <!-- REASON -->
        <div class="env-form-element">
            <label for="text" class="env-form-element__label"><%= i18n('reason') %></label>
            <div class="env-form-element__control">
                <input type="text" class="env-form-input" id="text" name="title" placeholder="<%= i18n('reason') %>" />
            </div>
        </div>
        <!-- CONTROL -->
        <div class="env-form-element">
            <input class="env-button env-button--primary" type="submit" value="<%= i18n('report') %>" />
            <a href="<%= getUrl('/') %>" class="env-button env-button--secondary"><%= i18n('back') %></a>
        </div>
    </div>
</form>